<%= form_with(model: channel, local: true) do |form| %>
<style>
table#customers {
    font-size:12px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2}

#customers th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #454545;
    color: white;
}
#main {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #000000;
    color: white;
}
	body {
		background-color: #cacaca;
	}

</style>
<table id="customers">
<tbody>
    <tr style="height: 2px;">   
    <th colspan="9">
    <img src="https://i.imgur.com/AXsKkzf.jpg" width="260" height="150" align="right" alt="מערכת ניהול " />
    </th> 
    </tr>
    <tr style="height: 2px;">   
    <th colspan="6" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;">
    <a href="/users" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>ניהול משתמשים</b></a>&nbsp;|
        <a href="/channels" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>רשימת ערוצים</b></a>&nbsp;|
     <a href="/send_message" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>שליחת הודעות למשתמשים</b></a>
    </th> 
    </tr>
<tr>
      <tr>
<td align="right">
    <input type="text" name="Channel_id" value="<%= channel.id %>" disabled>
</td>
<td>
<b>:ID</b>
</td>
      </tr>
<td align="right">
<%= form.text_field :name %>
</td>
<td>
<b>:שם הערוץ</b>
</td>
      </tr>
            <tr>
<td align="right">
<%= form.text_field :link %>
</td>
<td>
<b>:לינק הערוץ</b>
</td>
      </tr>
</tr>
          <tr style="height: 2px;">   
    <th colspan="9">
        <% if channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
       </th> 
    </tr>
</tbody></table>

