
<style>
table#customers {
    font-size:12px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2}

#customers th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #454545;
    color: white;
}
#main {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #000000;
    color: white;
}
	body {
		background-color: #cacaca;
	}

</style>
<table id="customers">
<tbody>
    <tr style="height: 2px;">   
    <th colspan="9">
    <img src="https://i.imgur.com/AXsKkzf.jpg" width="260" height="150" align="right" alt="מערכת ניהול " />
    </th> 
    </tr>
    <tr style="height: 2px;">   
    <th colspan="7" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;">
    <a href="/users" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>ניהול משתמשים</b></a>&nbsp;|
        <a href="/channels" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>רשימת ערוצים</b></a>&nbsp;|
     <a href="/send_message" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>שליחת הודעות למשתמשים</b></a>
    </th> 
    </tr>
    <tr style="height: 2px;">   
    <th colspan="7">
     <p id="notice"><%= notice %></p>
    </th> 
<tr>
    <th>הסר ערוץ</th>
    <th>ערוך ערוץ</th>
    <th>הצג ערוץ</th>
    <th>נוצר בתאריך</th>
    <th>קישור לערוץ</th>
    <th>שם הערוץ</th>
    <th>ID</th>
</tr>
    <%= @channels.each do |channel| %>
<tr>
      <tr>
<td><%= link_to image_tag("https://i.imgur.com/tWgffNV.png", height: '15', width: '15'), channel, method: :delete, data: { confirm: 'האם אתה בטוח שברצונך למחוק?' } %></td>
    <td><%= link_to image_tag("https://png.icons8.com/office/1600/edit-property.png", height: '15', width: '15'), edit_channel_path(channel) %></td>
    <td><%= link_to image_tag("https://png.icons8.com/ultraviolet/2x/about.png", height: '15', width: '15'), channel %></td>
     <td><%= channel.created_at %></td>
    <td><%= channel.link %></td>
    <td><%= channel.name %></td>
    <td><b><u><%= channel.id %></u></b></td>
      </tr>
</tr>
    <% end %>   
        <tr style="height: 2px;">   
    <th colspan="7" style="height: 2px; text-align: center;color: #FFFFFF;font-size:14px;text-decoration: none;"><a href="channels/new" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>הוסף ערוץ חדש</b></a></th> 
    </tr>
</tbody></table>
