
<style>
table#customers {
    font-size:12px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2}

#customers th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #454545;
    color: white;
}
#main {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #000000;
    color: white;
}
	body {
		background-color: #cacaca;
	}

</style>
<table id="customers">
<tbody>
    <tr style="height: 2px;">   
    <th colspan="4">
    <img src="https://i.imgur.com/AXsKkzf.jpg" width="260" height="150" align="right" alt="מערכת ניהול " />
    </th> 
    </tr>
    <tr style="height: 2px;">   
    <th colspan="4" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;">
    <a href="/users" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>ניהול משתמשים</b></a>&nbsp;|
        <a href="/channels" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>רשימת ערוצים</b></a>&nbsp;|
     <a href="/send_message" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>שליחת הודעות למשתמשים</b></a>
    </th> 
    </tr>
    <th>אנשים בערוץ</th>
    <th>קישור לערוץ</th>
    <th>שם הערוץ</th>
    <th>ID</th>
</tr>    
<tr>
      <tr>
    <td><font size="3" color="red"><b>12,544</b></font></td>
    <td><%= @channel.link %></td>
    <td><%= @channel.name %></td>
    <td><b><u><%= @channel.id %></u></b></td>
      </tr>
</tr>    
        <tr style="height: 2px;">   
    <th colspan="4"></th> 
    </tr>
</tbody></table>
