<style>
table#customers {
    font-size:16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    text-align: right;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2}

#customers th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #454545;
    color: white;
}
	body {
		background-color: #cacaca;
	}
</style>

<table id="customers">
<tbody>
    <tr style="height: 2px;">   
    <th colspan="9">
    <img src="https://i.imgur.com/AXsKkzf.jpg" width="260" height="150" align="right" alt="מערכת ניהול " />
    </th> 
    </tr>
<form name="input" action="post_message" method="post">
<tr>
    <tr style="height: 2px;">   
    <th colspan="9" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;">
    <a href="/users" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>ניהול משתמשים</b></a>&nbsp;|
        <a href="/channels" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>רשימת ערוצים</b></a>&nbsp;|
     <a href="/send_message" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>שליחת הודעות למשתמשים</b></a>
    </th> 
    </tr>
<tr>
    <th align="right">
    <select name="telegram_id">
<% @users = User.all.order(:id) %>
<option value="" dir="rtl">יש לבחור שם משתמש</option>
<% @users.each do |user| %>
<option value="<%= user.telegram_id %>"><%= user.user_name %>(<%= user.telegram_id %>)</option>
<% end %>
</select>
    </th>
<th>:אל</th>
</tr>
<tr>
      <tr>
<td align="right">
 <textarea cols="125" rows="10" name="text" dir="rtl">
 שלום רב,
📩 קיבלת הודעת מערכת 📩

אושרת כסוחר מאומת במערכת שוקה!

⛓להלן קישור למתפקדים - שוקה!⛓

שים לב,
קישור זה תקף למשך ⏰ 10 שניות בלבד ורק לך.


תודה רבה, הנהלת שוקה! 🤵🏼
ShokaBot
 </textarea>
</td>
<td>
<b>:הודעה</b>
</td>

      </tr>
</tr>
        <tr style="height: 2px;">   
    <th colspan="9"><input type="submit" align="left" value="שלח הודעה" />  </th> 
    </tr>
    </from>
</tbody></table>
