    <style>
    table#customers {
        font-size:12px;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        border-spacing: 0;
        width: 75%;
        margin-right: auto;
        margin-left: auto;
    }
    
    #customers td, #customers th {
        border: 1px solid #ddd;
        text-align: center;
        padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2}
    
    #customers th {
        padding-top: 11px;
        padding-bottom: 11px;
        background-color: #454545;
        color: white;
    }
    #main {
        padding-top: 11px;
        padding-bottom: 11px;
        background-color: #000000;
        color: white;
    }
    	body {
    		background-color: #cacaca;
    	}
    
    </style>
    <table id="customers">
    <tbody>
        <tr style="height: 2px;">   
        <th colspan="9">
        <img src="https://i.imgur.com/AXsKkzf.jpg" width="260" height="150" align="right" alt="מערכת ניהול " />
        </th> 
        </tr>
    <tr>
        <tr style="height: 2px;">   
        <th colspan="9" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;">
        <a href="/users" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>ניהול משתמשים</b></a>&nbsp;|
            <a href="/channels" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>רשימת ערוצים</b></a>&nbsp;|
         <a href="/send_message" style="height: 2px; text-align: right;color: #FFFFFF;font-size:14px;text-decoration: none;"><b>שליחת הודעות למשתמשים</b></a>
        </th> 
        </tr>
    <tr>
        <th>הרחק משתמש</th>
        <th>דחה משתמש</th>
        <th>אשר משתמש</th>
        <th>צילום ת.ז</th>
        <th>שם משתמש</th>
        <th>שם מלא</th>
        <th>תעודה מזהה</th>
        <th>Telegram ID</th>
        <th>ID</th>
    </tr>
        <% @users.each do |user| %>
    <tr>
          <tr>
        <td><a href="/ban_dealer/<%= user.id %>" target="_blank"><img src="https://i.imgur.com/EsoggI5.png" width="20" height="20" align="center"></a></td>
        <td><a href="/denied_dealer/<%= user.id %>" target="_blank"><img src="https://i.imgur.com/tWgffNV.png" width="24" height="24" align="center"></a></td>
        <td><a href="/approve_dealer/<%= user.id %>" target="_blank"><img src="https://i.imgur.com/6CNiswo.png" width="24" height="24" align="center"></a></td>
        <td><a href="/photo_url/?token_id=<%= user.photo %>" target="_blank" style="text-decoration: none;"><img src="https://i.imgur.com/GnbzHDb.png" width="17" height="17" align="center">פתח תמונה</a></td>
        <td><a href="https://t.me/<%= user.user_name %>" target="_blank" style="text-decoration: none;"><%= user.user_name %></a></td>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.tz %></td>
        <td><%= user.telegram_id %></td>
        <td><%= user.id %></td>
          </tr>
    </tr>
        <% end %>
            <tr style="height: 2px;">   
        <th colspan="9"></th> 
        </tr>
    </tbody></table>