
<style>
	body {
		background-color: #454545;
		background-position: 50% 50%
		background-image: url("https://i.imgur.com/K9aegOq.jpg");
		background-repeat: no-repeat;
	}
</style>
<br>
<br>
<br>
<br>
<center>
   
   <img src="https://i.imgur.com/K9aegOq.jpg" alt="ברוכים הבאים לשוקה!" />
   
</center>
